*.root
*core_dump*

#unpack/exps/*
#!unpack/exps/frs/*.spec
#!unpack/exps/*/*.spec
#!unpack/exps/*/*.cc
#!unpack/exps/*/*.hh
#!unpack/exps/*/Makefile
#!unpack/exps/*/makefile_additional.inc
*.o
*.vscode*
